<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Index</title>
  <script src="js/jquery/jquery-2.1.1.min.js" charset="utf-8"></script>
  <script src="js/Damoo/damoo.js" charset="utf-8"></script>
  <script src="js/nsqc.js" charset="utf-8"></script>
  <link rel="stylesheet" href="/css/barrage.css" media="screen" charset="utf-8">

</head>

<body>
  <div id="dm-main">
    <div id="dm-screen" style="width: 1366px; height: 667px; opacity: 1; position: relative;">

      <canvas id="dm-canvas" width="1366" height="667" style="display: block; position: absolute; left: 0px; top: 0px; z-index: 99999; background-color: transparent;"></canvas>

    </div>
  </div>

</body>


<script type="text/javascript">
  (function(window) {
    var scrn = $("#dm-screen");
    scrn.width(window.innerWidth + "px");
    scrn.height(window.innerHeight + "px");
    scrn.opacity=1;
  })(window);

  $(function () {

  });



  $("#dm-version").html(Damoo.version);

  var damoo = Damoo('dm-screen', 'dm-canvas', 20, "Arial");

  damoo.start();

  var addEvent = function(obj, nm, cb) {
    if (window.addEventListener) {
      obj.addEventListener(nm, cb, false);
    } else if (window.attachEvent) {
      obj.attachEvent("on" + nm, cb);
    }
  };

  damoo.emit({
    text: "这是一个基于NSQ弹幕的简单演示",
    color: "#" + Math.random().toString(16).substring(2).substring(0, 6),
    fixed: true
  });

  addEvent(document.body, "keypress", function(e) {
    var keyCode = e.keyCode || e.which;
    switch (keyCode) {
      case 13:
        var text = prompt("Text?");
        if (!text) return;
        BindHtml.sendMsgLocal(text);
        break;
      case 47:
        damoo.clear();
        break;
      case 60:
        if (scrn.style.opacity > 0) {
          scrn.style.opacity = Number(scrn.style.opacity) - 0.1;
        }
        break;
      case 62:
        if (scrn.style.opacity < 1) {
          scrn.style.opacity = Number(scrn.style.opacity) + 0.1;
        }
        break;
      case 32:
        if (damoo.state) {
          damoo.suspend();
        } else {
          damoo.resume();
        }
        break;
    }
    return false;
  });



  BindHtml.init("index");



</script>


</html>
